# Regions Missing Data Assignment

In [1]:
import pandas as pd

In [2]:
wh15=pd.read_csv("wh_2015.csv")
wh16=pd.read_csv("wh_2016.csv")
wh17=pd.read_csv("wh_2017.csv")
regions=pd.read_csv("region.csv")

In [3]:
wh15.tail(9)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
155,Syria,Middle East and Northern Africa,156.0,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,2015
156,Burundi,Sub-Saharan Africa,157.0,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,2015
157,Togo,Sub-Saharan Africa,158.0,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,2015
158,Belize,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
159,Namibia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
160,Puerto Rico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
161,Somalia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
162,Somaliland Region,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
163,South Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015

In [4]:
wh16.tail(8)

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
156,Burundi,Sub-Saharan Africa,157.0,2.905,2.732,3.078,0.06831,0.23442,0.15747,0.0432,0.09419,0.2029,2.10404,2016
157,Central African Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
158,Djibouti,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
159,Lesotho,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
160,Mozambique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
161,Oman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
162,Somaliland region,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
163,Swaziland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016

In [5]:
wh17.columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual', 'Year'],
      dtype='object')

# Filling Regions in 2015

In [6]:
region_2015 = pd.merge(wh15,wh16, on ="Country",how="right",suffixes=("2015","2016"))

In [7]:
region_2015.inplace = True

In [8]:
region_2015[["Country","Region2015"]].tail(9)

                      Country                       Region2015
155                     Syria  Middle East and Northern Africa
156                   Burundi               Sub-Saharan Africa
157  Central African Republic               Sub-Saharan Africa
158                  Djibouti               Sub-Saharan Africa
159                   Lesotho               Sub-Saharan Africa
160                Mozambique               Sub-Saharan Africa
161                      Oman  Middle East and Northern Africa
162         Somaliland region               Sub-Saharan Africa
163                 Swaziland               Sub-Saharan Africa

# Filling Regions in 2016

In [9]:
regions_2016 = pd.merge(wh15,wh16, on ="Country",how="left",suffixes=("2015","2016"))

In [10]:
regions_2016.inplace=True

In [11]:
regions_2016[["Country","Region2016"]].tail(9)

               Country                       Region2016
155              Syria  Middle East and Northern Africa
156            Burundi               Sub-Saharan Africa
157               Togo               Sub-Saharan Africa
158             Belize      Latin America and Caribbean
159            Namibia               Sub-Saharan Africa
160        Puerto Rico      Latin America and Caribbean
161            Somalia               Sub-Saharan Africa
162  Somaliland Region               Sub-Saharan Africa
163        South Sudan               Sub-Saharan Africa

# Filling Regions in 2017

In [12]:
wh17["Columns"]="Region"

In [13]:
region_2017=pd.merge(wh15,wh17,on="Country",how="right",suffixes=("2015","2017"))

In [14]:
region_2017[["Country","Region"]].tail(9)

               Country                           Region
155            Comoros               Sub-Saharan Africa
156           Djibouti               Sub-Saharan Africa
157               Laos                Southeastern Asia
158               Oman  Middle East and Northern Africa
159        Puerto Rico                              NaN
160  Somaliland Region                              NaN
161  Somaliland region               Sub-Saharan Africa
162           Suriname      Latin America and Caribbean
163          Swaziland               Sub-Saharan Africa

In [15]:
regions.columns

Index(['COUNTRY', 'REGION'], dtype='object')

In [16]:
regions.rename({"COUNTRY":"Country","REGION":"Region"},axis=1,inplace=True)

In [17]:
regions_2017=pd.merge(regions,region_2017,on=["Country","Region"],how="left")

In [18]:
regions_2017[["Country","Region"]].tail(20)

                      Country                           Region
144                Madagascar               Sub-Saharan Africa
145  Central African Republic               Sub-Saharan Africa
146                      Chad               Sub-Saharan Africa
147                    Guinea               Sub-Saharan Africa
148               Ivory Coast               Sub-Saharan Africa
149              Burkina Faso               Sub-Saharan Africa
150               Afghanistan                    Southern Asia
151                    Rwanda               Sub-Saharan Africa
152                     Benin               Sub-Saharan Africa
153                     Syria  Middle East and Northern Africa
154                   Burundi               Sub-Saharan Africa
155                      Togo               Sub-Saharan Africa
156               Puerto Rico      Latin America and Caribbean
157                    Belize      Latin America and Caribbean
158                   Somalia               Sub-Saharan Africa
159         Somaliland Region               Sub-Saharan Africa
160                   Namibia               Sub-Saharan Africa
161               South Sudan               Sub-Saharan Africa
162          Congo (Kinshasa)                   Central Africa
163       Congo (Brazzaville)                   Central Africa

In [19]:
region_2017.inplace=True

In [20]:
region_2017.tail(7)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family2015,Health (Life Expectancy),Freedom2015,Trust (Government Corruption),...,Whisker.low,Economy..GDP.per.Capita.,Family2017,Health..Life.Expectancy.,Freedom2017,Generosity2017,Trust..Government.Corruption.,Dystopia.Residual,Year2017,Columns
157,Laos,Southeastern Asia,99.0,4.876,0.06698,0.59066,0.73803,0.54909,0.59591,0.24249,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,Region
158,Oman,Middle East and Northern Africa,22.0,6.853,0.05335,1.36011,1.08182,0.76276,0.63274,0.32524,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,Region
159,Puerto Rico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,Region
160,Somaliland Region,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,Region
161,Somaliland region,Sub-Saharan Africa,91.0,5.057,0.06161,0.18847,0.95152,0.43873,0.46582,0.39928,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,Region
162,Suriname,Latin America and Caribbean,40.0,6.269,0.09811,0.99534,0.97200,0.60820,0.59657,0.13633,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,Region
163,Swaziland,Sub-Saharan Africa,101.0,4.867,0.08742,0.71206,1.07284,0.07566,0.30658,0.03060,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,Region