In [1]:
import pandas as pd

In [2]:
happiness_2015 = pd.read_csv("World_happiness_2015.csv")

In [3]:
happiness_2015.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [4]:
mapping = {'Economy (GDP per Capita)':'Economy','Health (Life Expectancy)':'Health','Trust (Government Corruption)':'Trust'}

In [5]:
happiness_2015.rename(columns = mapping, inplace = True)

In [6]:
happiness_2015.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy', 'Family', 'Health', 'Freedom', 'Trust',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [7]:
happiness_2015['Economy'].value_counts()

1.39651    1
0.39753    1
1.15406    1
1.02564    1
1.12094    1
          ..
1.12254    1
1.18498    1
1.14723    1
0.59325    1
0.20868    1
Name: Economy, Length: 158, dtype: int64

In [8]:
happiness_2015['Economy']

0      1.39651
1      1.30232
2      1.32548
3      1.45900
4      1.32629
        ...
153    0.22208
154    0.28665
155    0.66320
156    0.01530
157    0.20868
Name: Economy, Length: 158, dtype: float64

In [9]:
def category(element):
    if element > 1:
        return "High"
    else:
        return "Low"

In [10]:
happiness_2015["Economy"].map(category)

0      High
1      High
2      High
3      High
4      High
       ...
153     Low
154     Low
155     Low
156     Low
157     Low
Name: Economy, Length: 158, dtype: object

In [11]:
def category(element,x):
    if element > x:
        return "High"
    else:
        return "Low"

In [12]:
happiness_2015["Family"].apply(category,x=0.8)

0      High
1      High
2      High
3      High
4      High
       ...
153     Low
154     Low
155     Low
156     Low
157     Low
Name: Family, Length: 158, dtype: object

In [13]:
cols = ['Economy', 'Family', 'Health', 'Freedom', 'Trust',
       'Generosity']

In [14]:
happiness = happiness_2015[cols]
happiness.head()

   Economy   Family   Health  Freedom    Trust  Generosity
0  1.39651  1.34951  0.94143  0.66557  0.41978     0.29678
1  1.30232  1.40223  0.94784  0.62877  0.14145     0.43630
2  1.32548  1.36058  0.87464  0.64938  0.48357     0.34139
3  1.45900  1.33095  0.88521  0.66973  0.36503     0.34699
4  1.32629  1.32261  0.90563  0.63297  0.32957     0.45811

In [15]:
def category(element):
    if element > 1:
        return "High"
    else:
        return "Low"

In [16]:
happiness.applymap(category)

    Economy Family Health Freedom Trust Generosity
0      High   High    Low     Low   Low        Low
1      High   High    Low     Low   Low        Low
2      High   High    Low     Low   Low        Low
3      High   High    Low     Low   Low        Low
4      High   High    Low     Low   Low        Low
..      ...    ...    ...     ...   ...        ...
153     Low    Low    Low     Low   Low        Low
154     Low    Low    Low     Low   Low        Low
155     Low    Low    Low     Low   Low        Low
156     Low    Low    Low     Low   Low        Low
157     Low    Low    Low     Low   Low        Low

[158 rows x 6 columns]

In [17]:
main_col = ['Country', 'Region', 'Happiness Rank', 'Happiness Score']
Factors = ['Standard Error', 'Economy', 'Family', 'Health', 'Freedom', 'Trust',
       'Generosity', 'Dystopia Residual']

In [18]:
melt = pd.melt(happiness_2015, id_vars = main_col, value_vars = Factors )

In [19]:
melt

,Country,Region,Happiness Rank,Happiness Score,variable,value
0,Switzerland,Western Europe,1,7.587,Standard Error,0.03411
1,Iceland,Western Europe,2,7.561,Standard Error,0.04884
2,Denmark,Western Europe,3,7.527,Standard Error,0.03328
3,Norway,Western Europe,4,7.522,Standard Error,0.03880
4,Canada,North America,5,7.427,Standard Error,0.03553
...,...,...,...,...,...,...
1259,Rwanda,Sub-Saharan Africa,154,3.465,Dystopia Residual,0.67042
1260,Benin,Sub-Saharan Africa,155,3.340,Dystopia Residual,1.63328
1261,Syria,Middle East and Northern Africa,156,3.006,Dystopia Residual,0.32858
1262,Burundi,Sub-Saharan Africa,157,2.905,Dystopia Residual,1.83302
1263,Togo,Sub-Saharan Africa,158,2.839,Dystopia Residual,1.56726

In [20]:
melt[melt["Country"] == "Pakistan"]

,Country,Region,Happiness Rank,Happiness Score,variable,value
80,Pakistan,Southern Asia,81,5.194,Standard Error,0.03726
238,Pakistan,Southern Asia,81,5.194,Economy,0.59543
396,Pakistan,Southern Asia,81,5.194,Family,0.41411
554,Pakistan,Southern Asia,81,5.194,Health,0.51466
712,Pakistan,Southern Asia,81,5.194,Freedom,0.12102
870,Pakistan,Southern Asia,81,5.194,Trust,0.10464
1028,Pakistan,Southern Asia,81,5.194,Generosity,0.33671
1186,Pakistan,Southern Asia,81,5.194,Dystopia Residual,3.10709